#contact{
    margin-top: 15%;
}

h1 {
    color: white;
    text-align: center;
    font-family: monospace;
    font-size: 40px;
}

#formulaire {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    min-width: 300px;
}

.container-form {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid white;
}

.content-form {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
}

.container-form label {
    color: white;
    margin-bottom: 5px;
}

.button-form {
    width: 100%;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    margin-top: 5px;
}
.session-message p{
    margin: 0;
    padding: 18px 0 18px 0;
}
.success p{
    color: green;
    font-size: 15px;
    text-align: center;
}
.error p{
    color: red;;
}