body {
    margin: 0;
    background: #494399;
    overflow: hidden;
}

@keyframes rotate {
    from {
        rotate: 0deg;
    }
    50% {
        scale: 1 1.5;
    }
    to {
        rotate: 360deg;
    }

}

/* #blob {
    height: 50vmax;
    aspect-ratio: 1;
    position: fixed;
    left: 50%;
    right: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: radial-gradient(
        circle,
        white,
        #1D0076,
        #165313
    );
    animation: rotate 20s infinite;
    opacity: 0.6;
} */


/* .blur {
    backdrop-filter: blur(12vmax);
    position: relative;
} */
