.section-service {
    /* margin-left: 10%;
    margin-right: 10%; */
    margin-top: 5%;
}
.title-service h1 {
    color: white;
    text-align: center;
    font-family: monospace;
}
.container-service {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 70px;
}
.content-service {
    width: 300px;
    border: 1px solid white;
    border-radius: 10px; /* Coins arrondis, ajustez selon vos besoins */
    padding: 10px;
    box-shadow: 0 4px 8px rgb(247, 244, 244); /* Ombre légère */
}

.image-service {
    width: 100%;
    height: 300px;
}
.content-service h4,
p {
    color: white;
    font-family: "code", serif;
    text-align: center;
    font-size: 18px;
}
.container-service p {
    font-size: 14px;
    font-family: sans-serif;
    text-align: left;
}

@media screen and (min-width: 1400px) {
    .content-service:last-child {
        margin-left: auto;
        margin-right: auto;
    }
}
