header{
    display: unset;
}
.navbar {
    display: flex;
    justify-content: space-between;
    height: 8.5vh;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    transition: all 0.3s ease-in-out;
    align-items: center;
    z-index: 5;
    /* border-bottom: 1px solid white; */
    background-color: #1818dd;
}


.progress-container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 5px;
    width: 5px;
    height: 80%;
    background:transparent;
    z-index: 99;
    align-self: center;
    /* background-color: red; */
}

.progress-bar {
    width: 100%;
    height: 0;
    background: #F0F0F0;
    border-radius: 40px;
    /* border-top-right-radius: 40px;
    border-bottom-right-radius: 40px; */
}
.nav-menu {
    margin: 0;
    display: flex;
    justify-content: space-around;
    gap: 60px;
    align-items: center;
    padding: 0 30px 0 0;
}

.logo img{
    height: 3rem;
}

@media screen and (min-width: 1101px) {
    .navbar{
        position: relative;
    }
    .nav-menu{
        display: none;
    }
}




.nav-item {
    list-style: none;
}

.logo {
    color: white;
    margin-left: 30px;
}

.nav-link {
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "montserrat",sans-serif;
    font-weight: 900;
}

.nav-hamburger {
    display: none;
    width: 35px;
    margin-right: 30px;
}

.nav-hamburger .bar {
    display: block;
    height: 4px;
    width: 100%;
    background: white;
    margin: 6px 0;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
}


.nav-hamburger .bar:nth-child(1) {
    width: 80%;
}

.nav-hamburger .bar:nth-child(3) {
    width: 50%;
}


@media screen and (max-width: 1100px) {
    .nav-hamburger {
        display: block;
    }

    .nav-hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .nav-hamburger.active .bar:nth-child(1) {
        transform: translateY(11px) rotate(45deg);
        width: 100%;
    }

    .nav-hamburger.active .bar:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
        width: 100%;
    }

    .nav-menu {
        position: absolute;
        top: 8vh;
        gap: 20px;
        left: -100%;
        flex-direction: column;
        width: 200px;
        transition: 0.3s;
        z-index: 4;
        height: 92vh;
        padding: 0;
        background-color: #1818DD;
        backdrop-filter: blur(12vmax);
        justify-content: space-evenly;
    }

    .nav-menu.active {
        left: 0;
        height: 92vh;
        width: 100%;
    }

    .navbar.active{
        /* background: black; */
        transition: all 0.5s ease-in-out;
    }

}
