header{
    display: unset;
}
.navbar {
    display: flex;
    justify-content: space-between;
    height: 8vh;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    transition: all 0.3s ease-in-out;
    align-items: center;
    z-index: 5;
    /* border-bottom: 1px solid white; */
    background-color: #494399;
}


.progress-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background:transparent;
    z-index: 99;
}

.progress-bar {
    width: 0;
    height: 100%;
    background: #72EFE9;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}
.nav-menu {
    margin: 0;
    display: flex;
    justify-content: space-around;
    gap: 60px;
    align-items: center;
    padding: 0 30px 0 0;
}

@media screen and (min-width: 768px) {
    .navbar{
        position: relative;
    }
    .nav-menu{
        display: none;
    }
}




.nav-item {
    list-style: none;
}

.logo {
    color: white;
    margin-left: 30px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-family: "code",sans-serif ;
}

.nav-hamburger {
    display: none;
    width: 35px;
    margin-right: 30px;
}

.nav-hamburger .bar {
    display: block;
    height: 4px;
    width: 100%;
    background: white;
    margin: 6px 0;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
}


.nav-hamburger .bar:nth-child(1) {
    width: 80%;
}

.nav-hamburger .bar:nth-child(3) {
    width: 50%;
}


@media screen and (max-width: 768px) {
    .nav-hamburger {
        display: block;
    }

    .nav-hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .nav-hamburger.active .bar:nth-child(1) {
        transform: translateY(11px) rotate(45deg);
        width: 100%;
    }

    .nav-hamburger.active .bar:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
        width: 100%;
    }

    .nav-menu {
        position: absolute;
        top: 8vh;
        gap: 20px;
        left: -100%;
        flex-direction: column;
        width: 200px;
        transition: 0.3s;
        z-index: 4;
        height: 92vh;
        /* background: radial-gradient(circle, white, #1D0076, #165313); */
    
            background-image: radial-gradient(
              farthest-corner at 40px 40px,
              #f35 0%,
              #43e 100%
            );
  
          
        border-top: white solid 1px;
        padding: 0;
        backdrop-filter: blur(12vmax)
    }

    .nav-menu.active {
        left: 0;
        height: 92vh;
        width: 100%;
    }

    .navbar.active{
        background: black;
        transition: all 0.5s ease-in-out;
    }

}
