#propos{
 
    margin-top: 5%;
}

.propos-2{
   margin-top: 5%;
}
.text p{
    text-align: left;
    margin: 0;
    color:#333333;
    font-size: 1rem;
    line-height: 1.6;
    font-family:"roboto",sans-serif;
}

h1{
    margin-top: 0;
  
}

.title-propos{
    color:#F0F0F0 ;
    font-size: 2rem;
    font-family: "montserrat",sans-serif;
    text-align: center;
}
.propos,.propos-2{
    height: 90vh;
}

.propos-2{
    margin-top: 5%;
}
.container-propos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.content-text,.content-image,.content-text-2,.content-image-2{
    width: 50%;
    display: flex;
    justify-content: center;
}

.content-image-2,.content-text-2{
    position: relative;
}



.text h4{
font-size: 1.2rem;
color: #1818DD;
font-family: "montserrat",sans-serif;
}

.text{
    box-sizing: border-box;
    position: absolute;
    top:20%;
    width: 400px;
    height: 400px;
    background-color: white;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2), 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 30px 30px;
    border-radius: 40px;
}

.text-2,.cards-2{
    margin-top: 20px;
}
.text-3,.cards-3{
    margin-top: 40px;
}

.text{
    z-index: 10 !important;
}

.cards{
    position: absolute;
    top: 20%;
    z-index: 10;
 
}

.image-propos{
    height: 400px;
    border-radius: 40px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2), 0 10px 20px rgba(0, 0, 0, 0.1);
   
}

.container-propos-2{
    display: flex;
   
}

.text-propos-2{
    box-sizing: border-box;
    width: 600px;
    height: 600px;
    background-color: white;
    /* border: 1px white solid; */
    padding: 30px 30px;
    border-radius: 40px;
    position: absolute;
    z-index: 1;
    margin-left: auto;
    margin-right:auto ;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.text-propos-2 p{
    color:#333333;
    font-size: 1.2rem;
    font-family: "roboto", sans-serif;
    text-align: left;
    line-height: 1.6;
}

.image-propos-2{
    height: 600px;
    width: 600px;
    border-radius: 40px;
    position: absolute;
    z-index: 1;
    margin-left: auto;
    margin-right:auto ;
    left: 0;
    right: 0;
}

.voile{
    height: 601px;
    width: 601px;
    background: #1818dd;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right:auto ;
    z-index: 1;
    /* overflow: hidden; */
}

.rectangle-2{
    width: 90%;
    height: 400px;
    background-color: #72EFE9;
    position: absolute;
    z-index: 1;
    border-radius: 40px;
    top: 40%;
}


.text-reveal{
    font-family: "code",serif;
}
/* .voile::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 6px; 
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    z-index: 3;
} */


.container-picto{
    display: flex;
    justify-content: space-around;
    margin-top: 15%;
    /* height: 100%; */
}

.container-picto i{
    color: #1818DD;
    font-size: 4rem;
}

.button-propos{
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 1100px) {
    .image-propos{
        height: 500px;
    }

    .text{
        height: 500px;
        width: 500px;
    }

    .text p{
        font-size: 1rem;

    }

    .container-propos-1 h1{
        font-size: 3rem;
        font-family: "montserrat",sans-serif;
    }
}



/* ///////////////MOBILE//////////////////// */

@media only screen and (max-width: 1100px){
    #propos,#propos2{
        margin-top: 15%;
    }
    .propos,.propos-2{
        height: auto;
    }
    .propos-2{
        margin-top: 20%;
    }

    .title-propos{
        margin-bottom: 70px;
    }

    .content-text, .content-image {
        display: contents; /* On va les réarranger dans la grille */
    }
    
    /* Les cartes (images) et les textes prennent toute la largeur */
    /* .cards img, .text {
        width: 100%;
    } */
   
        .container-propos {
            position: relative;
            display: grid;
            grid-template-columns: 1fr; /* Une seule colonne sur mobile */
            grid-template-rows: auto;   /* Laisser les lignes s'ajuster */
            grid-template-areas:
                "image1"
                "text1"
                "image2"
                "text2"
                "image3"
                "text3"; /* On intercale les images et les textes */
        }
     /* Assigner chaque élément à une zone de la grille */
     .content-image .cards-1 {
        grid-area: image1;
        justify-self: center;
    }

    .content-text .text-1 {
        grid-area: text1;
        justify-self: center;
    }

    .content-image .cards-2 {
        grid-area: image2;
        justify-self: center;
    }

    .content-text .text-2 {
        grid-area: text2;
        justify-self: center;
    }

    .content-image .cards-3 {
        grid-area: image3;
        justify-self: center;
    }

    .content-text .text-3 {
        grid-area: text3;
        justify-self: center;
    }

    /* .content-image,.content-text,.container-propos{
        flex-direction: column;
    } */

    .content-image,.content-text,.content-image-2,.content-text-2{
        width: auto;
    }
    .text,.cards,.text-propos-2,.image-propos-2{
        position: static;
        width: 85vw;
        max-width: 500px;
        z-index: 0 !important;
        margin: 0;
        height: auto;
    }

    .image-propos,.image-propos-2{
        height: auto;
        width: 85vw;
        max-width: 500px;
    }

    .rectangle-2{
       position: absolute;
       z-index: -1;
       top: 99%;
       height: 35vh;
       width: 100%;
       border-radius: 0;
    }

    .text p,.text-propos-2 p{
        font-size: 1rem;
    }
    .text h4{
        font-size: 1rem;
    }
    .container-picto i{
        font-size: 2rem;
    }
    .container-propos-2{
        flex-direction: column-reverse;
        gap: 30px;
    }
    .voile{
        display: none;
    }
    .text-reveal{
        margin: 0;
        margin-bottom: 20px;
    }

    .button-site{
        width: 60%;
        height: auto;
        font-size: 0.9rem;
        padding: 10px 20px;
    }
}


@media only screen and (min-width: 1101px) and (max-width: 1300px){
    .text-propos-2,.image-propos-2{
        max-width: 500px;
        max-height: 500px;
    }

    .text-propos-2 p{
        font-size: 1rem;
    }
    .propos-2,.propos{
        height: 80vh;
    }
    .propos-2{
        margin-top: 20%;
     }

}




