#realisation{
    margin-top: 5%;
}
.container-realisation{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    justify-content: center;
}
.content-realisation{
    display: flex;
    flex-direction: column;
    gap: 60px;
    position: relative;
    height: 80vh;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.propos-2-color{
    width: 100%;
    height: 30vh;
    background-color: #72EFE9;
    position: absolute;
}
.content-realisation .card{
    display: flex;
    height: 70vh;
    background-color: white;
    border-radius: 40px;
    padding: 30px;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2), 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 80%;

}

.title-realisation{
    color: #F0F0F0;
    font-family:"montserrat" ,sans-serif;
    margin-bottom: 40px;
    font-size: 3rem;
    text-align: center;
}
.card-position{
   position: absolute;
   top: 10px;
}

.card-laptop:hover{
    box-shadow: 0px 10px 50px 0px rgba(255, 255, 255, 1);
    transition: box-shadow 0.3s ease;

}

.text-laptop{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 40%;
}

.text-laptop h4{
    font-size: 1.5rem;
    color: #1818DD;
    font-family: "montserrat",sans-serif;
}

.text-laptop p{
text-align: left;
font-size: 1.2rem;
line-height: 1.6;
color: #333333;
font-family: "roboto",sans-serif;
}
.laptop{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 60%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}
.laptop-top{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    perspective-origin: 50% 100%;
    perspective: 2000px;
   position: relative;
   display: flex;
   justify-content: center;
}

.screen1 {
    width: 29.1vw;
    height: 17.6vw;
    position: absolute;
    bottom: 89px;
    background-image: url(../../../assets/realisation/indoorSanteSite.png);
    background-size: cover;
    transform-origin: center bottom;
    transform: rotateX(-90deg);
    opacity: 0;
}


.screen{
    width: 31.125vw;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    transform-origin: center bottom;
    transform: rotateX(-90deg);
    bottom: 81px;
    position: absolute;
}


.keyboard-close, .keyboard-open {
    transform-origin: top; /* Assure que l'animation se fait à partir du haut du clavier */
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.keyboard-close{
    height: 13px;
    bottom: 70px;
}

.keyboard{
    width: 40vw;
    position: absolute;
    /* height: 18px; */
}
.keyboard-open,.keyboard-color{
    opacity: 0;
    bottom: -13px;
    height: 95px;
    will-change: opacity;
}

.screen-close{
    width: 40vw;
    display: flex;
    position: absolute;
    bottom: 82px;
    height: 13px;
    background-color: white;
}

.screen-color{
    width: 31.125vw;
    /* width: calc(90% - 30px); */
    display: flex;
    margin-left: auto;
    margin-right: auto;
    transform-origin: center bottom;
    transform: rotateX(-90deg);
    bottom: 81px;
    position: absolute;
    opacity: 0;
    /* transform-style: preserve-3d; */
}
.tablet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    /* left: 100px; */
    width: 60%;
}
.card-tablet:hover .tablet-color{
    opacity: 1;
}
.card-tablet:hover .image-boba{
    opacity: 1;
}
.card-tablet:hover{
    box-shadow: 0px 10px 50px 0px rgba(255, 255, 255, 1);
    transition: box-shadow 0.3s ease;
}


.tablet img{
    width: 40vw;
    position: absolute;
    /* left: 0; */
}

.image-boba{
    width: 30.9vw !important;
    transform: translateZ(839px) rotateX(55deg) rotateY(0) rotate(-45.1deg);
    /* left: 4.5vw !important; */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.tablet-color{
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.button-site{
    width: 70%;
    height: 50px;
    border-radius: 70px;
    background: #1818DD;
    color: #F0F0F0;
    text-transform: uppercase;
    font-size: 1rem;
    border: none;
    box-shadow: 0px 4px 8px 0px #72EFE9;
    font-family: "roboto", sans-serif;
    transition: all 0.3s ease;
    cursor: pointer;
}

.container-computeur{
    position: relative;
    width: 60%;
}

.screen-computeur-img{
    width: 341px;
    height: 211px;
    opacity: 0;
    background-image: url('../../../assets/realisation/inato.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    inset: auto 2.6% 28.2% auto;
    overflow: hidden;
    transform: skewY(30deg);
    position: absolute;
    right: 1.4%;
    top: 20%;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    transition: opacity 0.3s ease-in-out;
}

.screen-computeur img{
    position: absolute;
    right: 0;
    transition: opacity 0.3s ease-in-out;
}

.keyboard-computeur img{
    position: absolute;
    bottom: 0;
    right: 40%;
    transition: opacity 0.3s ease-in-out;
}

.content-computeur-color,.content-keyboard-color{
    opacity: 0;
}

.card-computeur:hover .content-computeur-color{
    opacity: 1;
}

.card-computeur:hover .content-keyboard-color{
    opacity: 1;
}

.card-computeur:hover .content-keyboard{
    opacity: 0;
}

.card-computeur:hover .screen-computeur-img{
    opacity: 1;
}

.content-keyboard{
    opacity: 1;
}


.card-computeur:hover{
    box-shadow: 0px 10px 50px 0px rgba(255, 255, 255, 1);
    transition: box-shadow 0.3s ease;
}


.computer-mobile{
   display: none;
}

.laptop-all{
    display: none;
    width: 320px;
}

.fa-hand-pointer {
    font-weight: 400;
    position: absolute;
    right: 0;
    bottom: 0;
    color: #1818DD;
    display: block;
}


/* ////////////////MOBILE///////////////// */

@media only screen and (max-width: 1100px) {
    .fa-hand-pointer {
        display: none !important;
    }
    .title-realisation {
        font-size: 2rem;
    }
    .title-realisation{
        margin-bottom: 70px;
    }
    .content-realisation {
        position: static;
        height: auto;
    }

    .propos-2-color {
        display: none;
    }

    .card-position {
        position: static;
    }

    .laptop{
        margin-bottom: 10%;
    }
    .screen1,.screen-color{
        opacity: 1;
        transform: rotateX(0);
    }
    .keyboard-color,.tablet-color,.image-boba,.content-computeur-color,.content-keyboard-color{
        opacity: 1;
    }

    .screen-close,.keyboard-close,.screen,.content-keyboard{
        opacity: 0;
    }

    .content-realisation .card{
        flex-direction: column-reverse;
        height: auto;
        width: 70vw;
    }

    .container-computeur{
        position: relative;
    }

    .text-laptop{
        width: auto;
    }
    .laptop,.tablet,.container-computeur{
        height: 40vh;
    }
    .indoor,.button-contact{
        margin-top: 2%;
    }
    .tablet,.container-computeur{
        width: 100%;
        left: 0;
    }
    .image-boba,.tablet-color,.tablet img{
       left: auto !important;
    }


    .tablet img{
        width: 62vw;
    }

    .image-boba{
        width: 46.9vw !important;
    }
    .content-computeur{
        opacity: 0;
    }
    .text-laptop h4{
        font-size: 1rem;
    }

    .text-laptop p{
        font-size: 1rem;
    }

    .screen-computeur, .keyboard-computeur,.screen1,.keyboard-color,.laptop-top{
        display: none;
    }
    .laptop-all{
        display: block;
    }

    .computer-mobile{
        height: 100%;
        display: flex;
    }

    .container-computeur{
        display: flex;
        justify-content: center;
    }



}

@media only screen and (max-width: 1100px)and (min-width:900px) {
    .image-boba{
        width: 36.9vw !important;
    }


    .tablet img{
        width: 48vw;
    }
}
